# Source files
src/demo
src/types

# Config files
.github
.parcel-cache
tsconfig.json

# Development files
node_modules
*.log
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output that's not for distribution
demo/ 